<!--header with page title(movie name), home button and favourites button-->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ movie.title }}</ion-title>
  
    <ion-buttons slot="end">
      <!--code to add a button to the right of another element, routing to favourites page-->
      <ion-button [routerLink]="['/home']">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/favourites']">
        <ion-icon name="heart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <p>{{movie.overview}}</p>
  
  <ion-button *ngIf="!isFavourite" (click)="addFavourites()" fill="outline">
    <ion-icon slot="start" name="heart-outline"></ion-icon>
    ADD TO FAVOURITES 
  </ion-button>

  <ion-button *ngIf="isFavourite" (click)="removeFavourites()">
    <ion-icon slot="start" name="heart"></ion-icon>
    REMOVE FROM FAVOURITES
  </ion-button>

  <ul>
    <li *ngFor="let ca of castMember" style="list-style-type: none;">
      <ion-card [routerLink]="['/details', ca.id]">
        <img src="https://image.tmdb.org/t/p/w185{{ca.profile_path}}"/>
        <ion-card-content>{{ ca.name }} as {{ ca.character }}</ion-card-content>
      </ion-card>
    </li>
    <li *ngFor="let cr of crewMember" style="list-style-type: none;">
      <ion-card [routerLink]="['/details', cr.id]">
        <img src="https://image.tmdb.org/t/p/w185{{cr.profile_path}}"/>
        <ion-card-content>{{ cr.name }} {{ cr.job }}</ion-card-content>
      </ion-card>
    </li>
  </ul>

</ion-content>