<!--header with page title(movie name), home button and favourites button-->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Movie ID: {{ movieId }}</ion-title>
  
    <ion-buttons slot="end">
      <!--code to add a button to the right of another element, routing to favourites page-->
      <ion-button [routerLink]="['/home']">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/favourites']">
        <ion-icon name="heart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<p>{{details.overview}}</p>
  <ion-toolbar>
    <ion-buttons>
      <ion-button (click)="addToFavourites()" fill="solid">
        <ion-icon slot="start" name="heart-outline"></ion-icon>
          ADD TO FAVOURITES 
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-content>