<!--header with page title(favourites), and home button-->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Favourite Movies</ion-title>
  
    <ion-buttons slot="end">
      <!--code to add a button to the right of another element, routing to favourites page-->
      <ion-button [routerLink]="['/home']">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ul>
    <li *ngFor="let fave of favourites" style="list-style-type: none;">
      <ion-card>
        <img src="https://image.tmdb.org/t/p/original{{fave.poster_path}}" width="200" height="200"/>
        <ion-card-content>{{ fave.original_title }}</ion-card-content>
        <ion-button>DETAILS</ion-button>
      </ion-card>
    </li>
  </ul>
</ion-content>