<!--header with app title(student number) and favourites button-->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>G00472945</ion-title>
  
    <ion-buttons slot="end">
      <ion-button *ngIf="searchTerm" (click)="resetHome()">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
      <!--code to add a button to the right of another element, routing to favourites page-->
      <ion-button [routerLink]="['/favourites']">
        <ion-icon name="heart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--ngModel = two-way data binding, binding input value to 'searchTerm'-->
  <ion-input label="Search" [(ngModel)]="searchTerm" [clearInput]="true" placeholder="Movie Name"></ion-input>
  <!--click = event binding, onSearch() is called on a click event-->
  <ion-button (click)="onSearch()" expand="full" >SEARCH</ion-button>
  <h1 *ngIf="!searchResults">Today's Trending Movies</h1>
  <h1 *ngIf="searchResults">{{ searchTerm }} movies:</h1>
  <ul>
    <!--ngFor loops through the movies array and creates a list of items-->
    <li *ngFor="let r of result" style="list-style-type: none;">
      <!--route to the movie-details page with this cards movie.id at the end-->
      <ion-card [routerLink]="['/movie-details', r.id]">
        <img *ngIf="r.poster_path" src="https://image.tmdb.org/t/p/w185{{r.poster_path}}"/>
        <ion-item *ngIf="!r.poster_path">
          No Image
        </ion-item>
        <ion-card-content *ngIf="r.overview">{{ r.overview }}</ion-card-content>
      </ion-card>
    </li>
  </ul>
</ion-content>


