<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>G00472945</ion-title>
  
    <ion-buttons slot="end">
      <!--code to add a button to the right of another element, routing to favourites page-->
      <ion-button [routerLink]="['/favourites']" fill="clear">
        <ion-icon name="heart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-input label="Search" [clearInput]="true"  placeholder="Movie Name"></ion-input>
  <ion-button expand="full">SEARCH</ion-button>
  <h4>Today's Trending Movies</h4>
</ion-content>