<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-item>
        <ion-label>G00472945</ion-label>
        <!--code to add a button to the right of another element-->
        <ion-button slot="end" size="small" fill="clear"><ion-icon name="heart"></ion-icon></ion-button>
      </ion-item>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  Search: "Movie Name"
  <ion-button expand="full">SEARCH</ion-button>
  <h4>Today's Trending Movies</h4>
</ion-content>
