<!--header with page title(movie name), home button and favourites button-->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ person.name }}</ion-title>
  
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/home']">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/favourites']">
        <ion-icon name="heart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img src="https://image.tmdb.org/t/p/w185{{person.profile_path}}"/>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>{{ person.birthday }} - {{ person.deathday }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>{{ person.also_known_as }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>{{ person.place_of_birth }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>{{ person.biography }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>