<!--header with page title(movie name), home button and favourites button-->
<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>{{ person.name }}</ion-title>
  
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/home']">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/favourites']">
        <ion-icon name="heart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <img *ngIf="person.profile_path" src="https://image.tmdb.org/t/p/w185{{person.profile_path}}"/>
    <ion-item lines="none" *ngIf="!person.profile_path">
      No Image
    </ion-item>
    <ion-item lines="none" *ngIf="person.also_known_as">
      <ion-label>{{ person.also_known_as }}</ion-label>
    </ion-item>
    <ion-card-content>
      <ion-list>

        <ion-item *ngIf="person.birthday || person.deathday">
          <ion-label ><h1>{{ person.birthday }} - {{ person.deathday }}</h1></ion-label>
        </ion-item>

        <ion-item *ngIf="person.place_of_birth">
          <ion-label>{{ person.place_of_birth }}</ion-label>
        </ion-item>

        <ion-item *ngIf="person.biography">
          <ion-label>{{ person.biography }}</ion-label>
        </ion-item>

      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item><ion-label>Other Movies</ion-label></ion-item>
    <ion-accordion-group [multiple]="false">
      <ion-accordion value="first">
        <ion-item slot="header" color="light">
           <ion-label>Cast</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-list>
            <ul>
              <li *ngFor="let ca of castOther" style="list-style-type: none;">
                <ion-item lines="none" [routerLink]="['/movie-details', ca.id]">
                  <ion-label> {{ca.title }} </ion-label>
                  <ion-thumbnail style="width: 80px; height: 100px;" slot="end">
                    <img *ngIf="ca.poster_path" src="https://image.tmdb.org/t/p/original{{ca.poster_path}}"/>
                      <ion-item lines="none" *ngIf="!ca.poster_path">
                        <ion-label>No Image</ion-label>
                    </ion-item>
                   </ion-thumbnail>
                  </ion-item>
                </li>
              </ul>
            </ion-list>
          </div>
        </ion-accordion>

       <ion-accordion value="second">
         <ion-item slot="header" color="light">
           <ion-label>Crew</ion-label>
         </ion-item>
         <div class="ion-padding" slot="content">
          <ion-list>
            <ul>
              <li *ngFor="let cr of crewOther" style="list-style-type: none;">
                <ion-card>
                  <ion-card-content>
                    <ion-item [routerLink]="['/movie-details', cr.id]">
                      <ion-label> {{ cr.title }} </ion-label>
                      <ion-thumbnail>
                        <img src="https://image.tmdb.org/t/p/w92{{cr.poster_path}}"/>
                      </ion-thumbnail>
                    </ion-item>
                  </ion-card-content>
                </ion-card>
              </li>
            </ul>
          </ion-list>
         </div>
       </ion-accordion>
     </ion-accordion-group>
  </ion-card>

    <!--this is here to prevent the crew accordion heading from getting cut off by the scroll-->
    <ion-item lines="none">
      <ion-label>&nbsp;</ion-label>
    </ion-item>
  
</ion-content>